<main>
  <div>
    <h1 class="title-slide">
      Design for Learning
    </h1>

    <div class="subhead">
      Edward Faulkner
      &lt;edward@eaf4.com&gt;
    </div>
    <div class="subhead">
      <img style="height: 1.5rem" src={{asset-url "images/github.png"}} > ef4
    </div>
    <div class="subhead">
      <img style="height: 1.5rem" src={{asset-url "images/twitter.png"}} > eaf4
    </div>
  </div>
</main>