<main>
  <div>
    <div class="quote-slide">
      "Don't worry, if you didn't like math in school you can still be a great programmer, you rarely need that stuff."
    </div>
    <div class="vs">vs</div>

    <div class="quote-slide">
      "Programming is deeply connected to math and mathematical thinking will make you a much better programmer."
    </div>

  </div>
</main>